<div class="container-fluid p-0">
    <div class='Contact'>
        <section class="resume-section p-3 p-lg-5 d-flex align-items-center animated fadeIn" id="about">
            <div class="container">
                <h1 class="subsection-title title-medium text-center text-primary">Contact</h1><br>

                <div class="subheading mb-5">
                    <i class="fas fa-phone-alt"></i> 606 603 404
                </div>
                <div class="subheading mb-5">
                    <i class="far fa-envelope"></i> sonegs@hotmail.com
                </div>
                <div class="subheading mb-5">
                    <i class="fab fa-telegram"></i> @Sones1
                </div>
            </div>
        </section>

    </div>
</div>