<div class="container-fluid p-0">
    <div class='Technologies'>
        <section class="resume-section p-3 p-lg-5 d-flex align-items-center">
            <div class="resume-content mr-auto animated fadeIn" *ngIf="isDesktopDevice || isTablet">
                <h1 class="subsection-title title-medium text-center text-primary">Technologies</h1><br>
                <div class="row">
                    <div class="col-3" *ngFor="let technology of technologies" routerLinkActive="active">
                        <div class="images" appUnshadows>
                            <a [href]="technology.link" target="_blank">
                                <img class="card-img-top" [src]="technology.img" alt="error" (mouseover)="propiedades.unshadows = !propiedades.unshadows" [ngClass]="{ 'filter: grayscale(100%)': propiedades.unshadows, 'filter: grayscale(0%)': !propiedades.unshadows }">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mobile" *ngIf="isMobile">
                <h1 class="subsection-title title-medium text-center text-primary">Technologies</h1><br>
                <div class="col">
                    <div class="images" appUnshadows *ngFor="let technology of technologies">
                        <a [href]="technology.link" target="_blank">
                            <br>
                            <img class="card-img-top" [src]="technology.img" alt="error" (click)="propiedades.unshadows = !propiedades.unshadows" [ngClass]="{ 'filter: grayscale(100%)': propiedades.unshadows, 'filter: grayscale(0%)': !propiedades.unshadows }">
                            <br>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>