<div class="About">
    <div class="animated fadeIn">
        <h1 class="subsection-title title-medium text-center text-primary">About me</h1>
        <br>
        <table>

            <div class="col" *ngFor="let about of abouts" routerLinkActive="active">

                <div class="row-4">
                    <br>
                    <img class="icons" [src]="about.img" (mouseover)="bounce()" (mouseout)="out()" [@bouncing]="currentState"> {{about.bio}}

                </div>

            </div>
        </table>
    </div>

</div>