<div class="About me">
    <div class="animated fadeIn">
        <h1 class="subsection-title title-medium text-center text-primary">About me</h1>
        <br>
        <div class="row">

            <div class="col-3">

                <div class="scroll">
                    <a [href]="" id="prueba">
                        <i class="fas fa-futbol" id="x" (mouseover)="movement(this)"></i>
                    </a>
                    <a [href]="" id="prueba2">
                        <i class="fas fa-futbol" (mouseover)="movement(this)"></i>
                    </a>
                    <a [href]="" id="prueba3">
                        <i class="fas fa-futbol" (mouseover)="movement(this)"></i>
                    </a>
                    <a [href]="" id="prueba4">
                        <i class="fas fa-futbol" (mouseover)="movement(this)"></i>
                    </a>
                </div>
            </div>

        </div>


    </div>