    .mobile img {
        height: 4.5rem;
        width: 4.5rem;
        display: flex;
        border-radius: 20%;
    }
    
    .mobile {
        position: absolute;
        margin-left: 72%;
    }
    
    @media (max-width:400px) {
        .resume-content {
            margin-top: 25%;
        }
    }