<div class='Home'>
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center animated fadeIn" id="about">
        <div class="w-100">
            <h1 class="mb-0">Miguel
                <span class="text-primary">Cobo Martínez</span>
            </h1>
            <div class="subheading mb-5">
                <p>SOFTWARE DEVELOPER · <i class="fab fa-periscope"></i> Málaga, Spain</p>
            </div>
            <p class='lead mb-5'>
                I am a junior software developer who is studying a certificate of High Education of Web Application Development. I am looking for a job challenge that can make me grow as a professional developer.
            </p>
        </div>
    </section>