.title {
    margin-top: 11%;
}

perfect-scrollbar {
    background: rgba(100, 187, 235, 0.8);
    color: white;
    width: auto;
    max-height: 460px;
}

.subsection-title {
    margin-top: 7rem;
}

.cola,
.bodytype {
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 60%;
    margin-right: 3%;
    margin-left: 3%;
}

.return {
    text-align: center;
}

.icon {
    width: 50px;
    height: 50px;
}

.line-content {
    text-align: center;
    min-width: 20%;
    max-width: 200%;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
}

.essence {
    display: inline-block;
    flex: 0 0 auto;
    padding-left: 5%;
    margin-top: 30%;
    margin-bottom: 30%;
}

@media (max-width:450px) {
    /*for mobile devices*/
    .title {
        margin-top: 30%;
    }
    .line-content {
        justify-content: center;
    }
    perfect-scrollbar {
        height: max-content;
        max-width: 100%;
        min-width: 20%;
        background: rgba(100, 187, 235, 0.8);
    }
    .essence {
        flex: 0 0 auto;
    }
}

@media (min-width:992px) {
    .title {
        margin-top: 17%;
        margin-left: 20%;
    }
    .icon {
        width: 50px!important;
        height: 50px!important;
    }
    .line-content {
        padding: inherit;
        display: flex;
        background: auto;
        margin-left: 1200px;
    }
    perfect-scrollbar {
        background: rgba(100, 187, 235, 0.8);
        color: white;
        position: relative;
        max-width: max-content;
        max-height: 400px
    }
    .cola,
    .bodytype {
        margin-right: 0%;
        max-width: max-content;
        position: fixed;
        right: 0;
        left: 0;
    }
    .essence {
        padding-right: 10%;
        padding-left: 10%;
        display: auto;
        width: max-content;
    }
    .line {
        margin-left: 30%;
    }
}