<div class="container-fluid p-0">
    <div class="Education">
        <div class="title animated fadeIn fast">
            <h1 class="subsection-title title-medium text-center text-primary">Education</h1>
        </div>
        <br>
        <div class="bodytype animated fadeIn">
            <div class="cola" routerLinkActive="active">
                <perfect-scrollbar>
                    <div class="line">
                        <div class="line-content">
                            <div class="essence" *ngFor=" let education of educations" (mouseover)="changeText=true" (mouseleave)="changeText=false">
                                <div class="appear">
                                    <img class="icon" [src]="education.icon">
                                    <h4 class="name" *ngIf="!changeText"> {{education.name}}</h4>
                                    <h6 *ngIf="!changeText"> {{education.date}}</h6>
                                </div>
                                <div class="date" *ngIf="changeText">
                                    <h4> {{education.bio}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                </perfect-scrollbar>

            </div>
        </div>


    </div>
</div>